/* Fundo da página */
body {
    background-color: #1a1e29;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    text-align: center;
    padding: 20px;
    background-color: #132d46;
}

h1 {
    margin: 0;
    color: #01c38e;
}

/* Container das colunas */
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Colunas */
.column {
    background-color: #132d46;
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    text-align: center;
}

/* Títulos das colunas */
.column h2 {
    color: #01c38e;
}

/* Botões de tópicos */
button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #01c38e;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ffffff;
    color: #01c38e;
}
