/* Fundo da página */
body {
    background-color: #1a1e29;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    text-align: center;
    padding: 20px;
    background-color: #132d46;
}

h1 {
    margin: 0;
    color: #01c38e;
}

/* Container das colunas */
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap; /* Permite que as colunas se ajustem em diferentes tamanhos de tela */
}

/* Colunas */
.column {
    background-color: #132d46;
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    text-align: center;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
    margin-bottom: 20px; /* Adiciona um espaçamento inferior */
}

/* Títulos das colunas */
.column h2 {
    color: #01c38e;
    margin: 0; /* Remove a margem para manter o título em uma linha única */
    white-space: nowrap; /* Impede a quebra de linha no título */
    overflow: hidden; /* Oculta o texto que excede o espaço disponível */
    text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
}

/* Botões de tópicos */
button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #01c38e;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}

button:hover {
    background-color: #ffffff;
    color: #01c38e;
}

/* Remove o sublinhado dos links dentro de botões */
a {
    text-decoration: none; /* Remove o sublinhado */
}

a button {
    background-color: #01c38e;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    display: block;
}

/* Alteração de cor ao passar o mouse */
a button:hover {
    background-color: #ffffff;
    color: #01c38e;
}
